.admin-menu {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.admin-menu::-webkit-scrollbar {
  display: none;
}

.admin-header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 20px;

}

.admin-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.admin-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.menu-list {
  flex-grow: 1;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s, font-weight 0.3s;
}

.menu-title:hover,
.menu-title.active {
  background: rgba(0, 91, 187, 0.2);
  font-weight: bold;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Dropdown Styles */
.dropdown {
  display: none;
  padding-left: 30px;
  margin-top: 5px;
  list-style: none;
}

.dropdown.show {
  display: block;
}

.dropdown li {
  padding: 8px 0;
  font-size: 14px;
  margin-left: 5px;
  transition: background 0.3s, padding-left 0.3s;
  cursor: pointer;
}

.dropdown li.active,
.dropdown li:hover {
  background: rgba(0, 91, 187, 0.2);
  border-radius: 5px;
  padding-left: 10px;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

/* Hide dropdown icon if no children */
.menu-item:not(:has(.dropdown)) .dropdown-icon {
  display: none;
}

/* Logout */
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  color: red;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 30px;
}

.logout:hover {
  background: rgba(255, 0, 0, 0.1);
}
