.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;

}
.admin-header {
  height: 100px; 
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-left: 270px; 
  position: fixed; 
  width: calc(100% - 250px);
  top: 0;
  z-index: 1000;
}
.admin-body {
  display: flex;
  flex: 1;
  margin-top: 20px; 
}

.admin-navbar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #fff;
  padding-top: 5px;
}

.admin-content {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  margin-left: 250px; 
  margin-top: 60px; 
}
