.layout-account {
    display: flex; // Sắp xếp các phần tử con theo hàng ngang
    padding-top: 30px;

    .menu-bar {
        display: flex;
    }

    .content-account {
        flex-grow: 1;
        position: absolute;
        left: 300px;
    }
}