.order-settings {
    width: 1100px;
    margin: auto;
    flex-direction: column;

    .order-header {
        width: 100%;
        border-bottom: 1px solid rgb(0, 91, 187, .3);
        height: fit-content;
        padding-top: 15px;

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .tabs {
            display: flex;
            gap: 30px;
            margin-bottom: 20px;

            .tab {
                background: none;
                border: none;
                color: black;
                font-size: 16px;
                cursor: pointer;

                &.active {
                    font-size: 18px;
                    font-weight: bold;
                    color: #005bbb;
                }
            }
        }
    }

    .order-content {
        position: relative;
    }
}
